#upload {
    font-family: Futura, sans-serif;
    text-align: center;
    background: #243E36;
    color: #F1F7ED;
    border-radius: 10px;
}

input {
    margin: 2em 0;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
    border: 1px solid #243E36;
    border-radius: 10px;
    padding: 10px;
}

button {
    background: #243E36;
    color: #F1F7ED;
    font-family: Futura, sans-serif;
    border-radius: 10px;
    width: 10em;
    padding: 10px;
    border: none;
}

canvas {
    width: 100%;
}